@charset "utf-8";
.middle {									/* 有关导航栏下方显示位置的样式 */
	padding: 0px;
	width: 75%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.middle .address {
	margin: 0px;
	height: 35px;
	width: 100%;
	line-height: 35px;
	text-decoration: none;
	color: #000;
	padding: 0px;
	font-size: 15px;
	font-weight: normal;
}
.middle .address .left {
	font-size: 15px;
	line-height: 35px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	float: left;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	display: inline;
}
.middle .address span {
	font-size: 15px;
	line-height: 35px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin: 0px;
}
.middle .address span a {
	color: #000;
	text-decoration: none;
}
.container {
	background-color: #FFF;
	padding: 0px;
	height: 650px;
	width: 75%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.container img {
	padding: 5px;
	width: 200px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}

.container h3 {
	color: #FF9966;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FC9;
	margin-top: 0%;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 3%;
	padding-top: 2%;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}
.container h4 {
	color: #000;
	text-decoration: none;
	padding: 0px;
	font-size: 15px;
	margin-top: 2%;
	margin-right: 5%;
	margin-bottom: 0px;
	margin-left: 5%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FC9;
}
.container span {
	font-size: 12px;
	color: #FC9;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2%;
}
.container p {
	font-size: 14px;
	color: #000;
	padding: 0px;
	margin-top: 3%;
	margin-right: 0%;
	margin-bottom: 5%;
	margin-left: 5%;
}
.container .say {
	font-size: 14px;
	line-height: 50px;
	color: #000;
	padding: 0px;
	margin-top: 3%;
	margin-right: 5%;
	margin-bottom: 0px;
	margin-left: 5%;
}
.container .say img {
	padding: 0px;
	clear: both;
	float: left;
	height: 100px;
	width: 100px;
	margin-top: 0px;
	margin-right: 3%;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container .say .other {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 130px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FC9;
}
.container .say p {
	line-height: 50px;
	margin: 0px;
	padding: 0px;
}


.container .say p a {
	color: #000;
	text-decoration: none;
}
